<template>
  <div class="mainpage__wrapper">
    <nav>
      <Header />
    </nav>
    <div class="mainpage__content">
      <div class="left--content">
        <span class="left--content__header no-click"
          ><p>We elevate</p>
          your business</span
        >
        <div class="check-this">
          <h1 class="baksoSapi check-this--header no-click">
            <div class="no-click">Check this</div>
          </h1>
          <p class="p1">
            <nuxt-link to="/ouroffer">
              <img src="~/assets/img/mainPage/portfolio__icon.png" alt="" /><img
                src="~/assets/img/mainPage/our_offer.png"
                alt=""
              />
            </nuxt-link>
          </p>
          <p class="p2">
            <nuxt-link to="/partners">
              <img src="~/assets/img/mainPage/partners__icon.svg" alt="" /><img
                src="~/assets/img/mainPage/partners.png"
                alt=""
              />
            </nuxt-link>
          </p>
        </div>
      </div>
      <div class="center--img">
        <img src="~/assets/img/mainPage/dawid.png" alt="" />
      </div>
      <div class="right--content no-click">
        <h1 class="no-click">into <span class="baksoSapi art">art.</span></h1>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "./Header";
export default {
  components: {
    Header,
  },
  mounted() {
    if ($(window).width() >= 768) {
      // $(".mainpage__wrapper").on("scroll touchmove mousewheel", function (e) {
      //   e.preventDefault();
      //   e.stopPropagation();
      //   return false;
      // });
      // off scrolling in mainapge
      // $("html,body").css({
      //   overflow: "hidden",
      //   height: "100vh",
      // });
      $(".mainpage__wrapper").mousemove(function (e) {
        parallaxIt(e, ".center--img", -100);
      });
    }

    function parallaxIt(e, target, movement) {
      var $this = $(".mainpage__wrapper");
      var relX = e.pageX - $this.offset().left;
      var relY = e.pageY - $this.offset().top;
      TweenMax.to(target, 1, {
        x: ((relX - $this.width() / 2) / $this.width()) * movement,
        y: ((relY - $this.height() / 2) / $this.height()) * movement,
      });
    }
    gsap.from(".check-this--header", {
      y: 100,
      opacity: 0,
      ease: "Power2.ease",
      delay: 0,
      duration: 1.5,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 120%",
        end: "bottom top",
      },
    });
    gsap.from(".p1", {
      y: 100,
      opacity: 0,
      ease: "Power2.ease",
      delay: 0,
      duration: 1.5,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 120%",
        end: "bottom top",
      },
    });
    gsap.from(".p2", {
      y: 100,
      opacity: 0,
      ease: "Power2.ease",
      delay: 0,
      duration: 2,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 120%",
        end: "bottom top",
      },
    });
    gsap.from(".left--content__header", {
      x: -100,
      opacity: 0,
      ease: "Power2.ease",
      duration: 1.5,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 150%",
        end: "bottom top",
      },
    });
    gsap.from(".right--content", {
      x: 200,
      opacity: 0,
      ease: "Power2.ease",
      duration: 1.5,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 150%",
        end: "bottom top",
      },
    });
    gsap.from(".center--img", {
      y: 500,
      opacity: 0,
      ease: "Power2.ease",
      duration: 1.5,
      scrollTrigger: {
        trigger: ".mainpage__wrapper",
        toggleActions: "play none none none",
        start: "top 150%",
        end: "bottom top",
      },
    });
    if ($(window).width() >= 1024) {
      gsap.from([".wrapper", ".logo"], {
        xPercent: "200",
        opacity: 0,
        ease: "back",
        duration: 2,
        scrollTrigger: {
          trigger: ".mainpage__wrapper",
          toggleActions: "play none none none",
          start: "top 190%",
          end: "bottom top",
        },
      });
    }
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
.no-click {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

body {
  max-width: 100vw;
}
.wrapper {
  position: relative;
  z-index: 1000;
  overflow: hidden;
}
.mainpage__wrapper {
  max-width: 100vw;
  padding: $wrapper-padding;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
@media (max-width: $breakpoint-xs) {
  nav {
    display: none;
  }
  .mainpage__wrapper {
    padding: $xs-padding;
    margin-top: 0px;
  }
  .mainpage__content {
    flex-direction: column;
  }
  .left--content__header {
    margin-top: 30px;
  }
}
.mainpage__content {
  display: flex;
  justify-content: space-between;
  font-family: $bc;
  color: #fff;
  font-size: 48px;
  scroll-snap-align: center;
}
.left--content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .check-this {
    h1 {
      color: $orange;
      font-size: 33px;
      margin-bottom: 35px;
    }
    img {
      margin-right: 20px;
    }
    .check-this--header {
      position: relative;
    }
  }
}
@media (max-width: $breakpoint-xs) {
  .left--content {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1.3px;
  }
  .check-this {
    position: absolute;
    margin-top: 156%;
    img {
      margin-top: 5px;
    }
  }
  .check-this--header {
    font-size: 25px !important;
    font-weight: 200;
    font-family: $bc;
    text-transform: lowercase;
  }
  .right--content {
    width: 100%;
    text-align: right;
    margin-top: -15%;
    margin-left: 0;
    font-size: 30px;

    text-transform: none !important;
    .art {
      color: $bright;
      font-size: 40px !important;
    }
  }
  .center--img img {
    margin-top: -10%;
    width: 100% !important;
  }
  .check-this {
    h1 {
      margin-bottom: 15px !important;
    }
  }
}
.center--img img {
  width: 100%;
  align-self: center;
}
@media only screen and (device-width: 375px) and (-webkit-device-pixel-ratio: 3) {
  .right--content {
    margin-top: -10%;
  }
  .check-this {
    position: absolute;
    margin-top: 180%;
  }
  .check-this {
    h1 {
      margin-bottom: 20px !important;
    }
  }
}

.right--content {
  align-self: center;

  .art {
    color: $orange;
    font-size: 80px;
  }
}
</style>
