<template>
  <div class="images">
    <img
      src="~/assets/img/portfolio/pictures2.png"
      alt=""
      class="imgBox promo business print"
    />
    <img
      src="~/assets/img/portfolio/tuba.png"
      alt=""
      class="imgBox promo poster print"
    />
    <img
      src="~/assets/img/portfolio/boxes.png"
      alt=""
      class="imgBox promo print"
    />
    <img
      src="~/assets/img/portfolio/pictures.png"
      alt=""
      class="imgBox promo business print"
    />
    <img
      src="~/assets/img/portfolio/digital.png"
      alt=""
      class="imgBox promo poster print"
    />
    <img
      src="~/assets/img/portfolio/phones.png"
      alt=""
      class="imgBox application digital"
    />
    <img
      src="~/assets/img/portfolio/bilboard.png"
      alt=""
      class="imgBox poster print"
    />
    <img
      src="~/assets/img/portfolio/digital__boards.png"
      alt=""
      class="imgBox promo poster print"
    />
    <img
      src="~/assets/img/portfolio/sites.png"
      alt=""
      class="imgBox landing application digital"
    />
    <img
      src="~/assets/img/portfolio/rwd.png"
      alt=""
      class="imgBox application digital"
    />
    <img
      src="~/assets/img/portfolio/unity.png"
      alt=""
      class="imgBox landing digital"
    />
    <img
      src="~/assets/img/portfolio/unity2.png"
      alt=""
      class="imgBox landing digital"
    />
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
.images {
  display: flex;
  flex-wrap: wrap;
  padding: $wrapper-padding;
  justify-content: center;
  align-items: center;
  & .imgBox {
    object-fit: cover;
    vertical-align: bottom;
    order: 2;
    flex-grow: none;
    flex-basis: max-content;
    margin: 15px 15px;
  }
}
</style>