@import "~/assets/styles/variables";
.business__wrapper{
  margin-bottom: 60px;
}
nav{
  padding: 0;
}
.header__wrapper{
  padding: 0 25px;
}
header{
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  padding: $xs-padding;
  margin-top: 90px;
}
.countries__txt{
  font-size: 14px;
  line-height: 25px;
  img{
    width: 40%;
  }
  span {
    margin-left: 0px;
    margin-right: 10px;
  }
}
.cities{
  flex-direction: column;
  align-items: center;
  padding: $xs-padding;
}
.city img{
  width: 65%;
}
.city:nth-of-type(2){
> *{
  margin-left: 35%;
}
}
.city__name{
  font-size: 26px;
  letter-spacing: 1.2px;
  line-height: 25px;
  width: 65%;
}
.bottom__txt{
  font-size: 20px;
  padding: $xs-padding;
  
}
.items{
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10px;
}
.item{
  display: flex;
  width: 50%;
  margin:25px 0px;
}
.item:nth-of-type(2){
  margin-top: 20%;
  justify-self: flex-end;
}
.item:nth-of-type(3){
  margin-top: -10%;
}
.item__name{
  font-size: 14px;
  line-height: 17px;
  width: 90%;
  text-transform: uppercase;
}
.header3{
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  padding: $xs-padding;
  margin: 30px 0;
  font-weight: 600;
}
.section3 >span{
  font-size: 14px;
  ;line-height: 18px;
  font-weight: 200;
  padding: $xs-padding;
  text-align: center;
}
.bottom__section{
  .header{
    padding: $xs-padding;
    font-size: 22px;
    margin: 20px 0;
  }
  img{
    width: 115%;
    margin-bottom: 50px;
  }
}