@font-face {
  font-family: 'BaksoSapi';
  font-style: normal;
  font-weight: 400;
  /* src: url("BaksoSapi.otf"); */
  src: url('~assets/fonts/bakso_sapi/BaksoSapi.otf') format("opentype");
}
@font-face {
  font-family: 'BC-sklonar';
  font-style: normal;
  font-weight: 400;
  /* src: url("BaksoSapi.otf"); */
  src: url('~assets/fonts/BCSklonar/BCSklonarMedium.woff2.ttf') format("opentype");
}
@font-face {
  font-family: 'BC-sklonar';
  font-style: light;
  font-weight: 200;
  /* src: url("BaksoSapi.otf"); */
  src: url('~assets/fonts/BCSklonar/BCSklonarLight.woff2.ttf') format("opentype");
}
@font-face {
  font-family: 'BC-sklonar';
  font-style: bold;
  font-weight: 900;
  /* src: url("BaksoSapi.otf"); */
  src: url('~assets/fonts/BCSklonar/BCSklonarBold.woff2.ttf') format("opentype");
}
