/* Colors: */
$white: #FFFFFF;
$dark: #302639;
$light: #3C2057;
$bright: #643E85;
$orange: #FF732E;
$unnamed-color-404040: #404040;
//paddings
$wrapper-padding:0 85px;
$xs-padding:0 25px;
//fonts
$bc:"BC-sklonar",
sans-serif;
//header height
$header-height:150px;
$flex-cols: 12;
$breakpoint-xs: 768px;
$breakpoint-sm: 1440px;
$breakpoint-md: 1920px;
$breakpoint-lg: 2560px;
