<template>
  <client-only>
    <div id="default__wrapper">
      <Nuxt />
    </div>
  </client-only>
</template>
<script>
export default {
  head() {
    return {
      script: [
        {
          src:
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js",
        },
        {
          src:
            "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js",
        },
      ],
      link: [
        {
          rel: "stylesheet",
          href:
            "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css",
        },
        {
          rel: "stylesheet",
          href:
            "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css",
        },
      ],
    };
  },
};
</script>
<style lang="scss">
@import "~/assets/styles/variables";
* {
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 0;
}
*:hover {
  cursor: url("~assets/img/cursor.png") 40 20, auto;
}
//cursor
html {
  cursor: url("~assets/img/cursor.png") 40 20, auto;
}
body {
  width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
</style>
